body {
    background-color: black;
}

.image {
    width: auto;
    height: 43.2pc;
    margin: 0 calc(50% - 571px/2);
    position: relative;
}

.button {
    color: #fff;
    opacity: 1;
    position: absolute;
    left: calc(50% - 60px);
    bottom: 10%;
    width: 150px;
    height: 50px;
    font-size: 17px;
    border-radius: 19px;
    border: 0;
    transition: 1s ease;
    background-color: #545454;
}

.button:hover {
    /* opacity: 1; */
    /* animation: animation-button 1s; */
    color: #000;
    background-color: #a9a9a9;
}

/* @keyframes animation-button {
    from {
        background-image: linear-gradient(90deg,#843be7,#2f84e3,#1fb5c9,#2f84e3,#843be7);
        transform: none;
    }

    to {
        background-image: linear-gradient(90deg,#1fb5c9,#2f84e3,#843be7);
    }
} */